BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
UseTab: Never
ColumnLimit: '100'
IndentWidth: '4'
ContinuationIndentWidth: '4'
IndentExternBlock: AfterExternBlock
NamespaceIndentation: None
AccessModifierOffset: '-4'
AlwaysBreakTemplateDeclarations: Yes
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowAllArgumentsOnNextLine: 'false'
AlignAfterOpenBracket: Align
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
AlwaysBreakBeforeMultilineStrings: 'false'
